/*=================================================================
  Dashboard Css
==================================================================*/

@media screen and (min-width: 1440px){

  .__dasepl {
    margin: 5% 0 0 65px;
    width: 870px;
  }

  .__dasepl span:nth-child(1) {
    margin-left: 23%;
  }

}

@media screen and (max-width: 1220px){
  .__dasepl {
    margin: 5% 0 0 72px;
    width: 865px;
  }

  .__dasepl span:nth-child(1) {
    margin-left: 22%;
  }

  .__pa {
    margin: 45px 8px 9px 70px;
    width: 869px;
  }

  .__addag {
    margin: 45px 8px 9px 70px;
    width: 869px;
  }

  .__dasempl {
    margin: 45px 8px 9px 76px;
    width: 865px;
  }

  .bigers {
    width: 58%;
    margin-top: 0%;
    margin-left: 227px;
  }
}

@media screen and (max-width: 1024px){
  .leftbar {
  padding-top: 10%;
  }

  .__dasepl span:nth-child(1) {
    padding: 14px 29px;
    margin-left: 5%;
  }

  .__dasepl {
    margin: 5% 0px 0px 87px;
    /*width: 805px;*/
    width: 727px;
  }

  .__dasepl1 {
    margin: 45px 8px 9px 92px;
    width: 723px;
  }

  .__dascard {
    width: 100%;
  }

  .__dasempl {
      margin: 45px 0px 9px 91px;
    width: 707px;
  }

  .__pa {
    margin: 45px 8px 9px 89px;
    width: 726px;
  }
  .__addag {
    margin: 45px 8px 9px 89px;
    width: 726px;
  }

  .bigers {
    width: 67%;
    margin-top: 3%;
    margin-left: 139px;
  }


}

@media screen and (max-width: 992px) {
  
  
  .__dasepl {
      margin: 5% 0px 0px 87px;
      width: 712px;
  }

  .__pa {
    margin: 45px 8px 9px 89px;
    width: 709px;
  }
  .__addag {
    margin: 45px 8px 9px 89px;
    width: 709px;
  }

  .__dasepl span:nth-child(1) {
    margin-left: 3%;
  }

}

@media screen and (max-width: 800px){
  .leftbar{
    transform: translate(-300px);
    top: 0%;
  }
  #openSidebar{
    display: block !important;
    cursor: pointer !important;
    margin-top: 17px;
  }
  img#closebtn {
     display: block;
     top: 3%;
    left: 5%;
  }

  .__dast {
    margin-top: 0%;
  }


  .__dasepl {
    margin: 7% 0 0 0;
    width: 100%;
  }

  .__dasepl1 {
    margin: 45px 8px 9px 0;
    width: 100%;
  }

  .__dascard {
    width: 100%;
  }

  .__dashnav{
    z-index: 1;
  }

  .__dasepl span:nth-child(1) {
    padding: 14px 29px;
    margin-left: 24%;
  }

  .__dascard p:nth-child(2) {
    font-size: 14px;
  }

  .__dascard p:nth-child(3) {
    font-size: 20px;
  }

  .__dasempl {
    margin: 45px 8px 9px 0px;
    width: 736px;
  }

  .__pa {
    margin: 45px 8px 9px 0px;
    width: 100%;
  }
  .__addag {
    margin: 45px 8px 9px 0px;
    width: 100%;
  }

  .bigers {
    width: 66%;
    margin-top: 0%;
    margin-left: 148px;
  }


}


@media screen and (max-width: 568px) {

    .__dast{
    margin-top: 10%;
  }

  .__dashnav{
    z-index: 1;
    height: 56px;
  }
  
  .biger{
    width: 80% ;
    transform: translate(0px) !important;
    z-index:1  !important;
    
  }

  .leftbar{
    transform: translate(-1000px);
    top: 0%;
  }
  #openSidebar{
    display: block !important;
    cursor: pointer !important;
  }

  /*for image close*/
  img#closebtn {
     display: block;
     top: 3%;
    left: 5%;
  }

  i#closebtn {
     display: block;
     top: 2%;
    left: 5%;
  }

  #openSidebar {
    margin-top: 2px;
  }

  .maianer {
      padding: 10px 20px;
  }
  .mr-125 { right:125px !important; }


  /*right slider side*/
  .bigers {
    width: 82%;
    margin-top: 0%;
    margin-left: 57px;
  }

  img#rightclosebtns {
    margin-left: 233px;
  }

/*end*/

  .__profimg {
    margin-left: 77px;
  }


  .__dasepl {
    width: 100%;
    margin: 20% 0 10% !important;
  }

  .__dasepl1 {
    margin: 0;
    width: 100%;
  }

  .__dascard {
    width: 100%;
    margin-top: 10px;
  }

  .__dasepl span:nth-child(1) {
    padding: 0;
    margin-left: 0;
  }

  .__dasepl span:nth-child(3) {
    padding: 4px;
  }

  .__dassc {
    margin-bottom: 10px;
  }

  .__logo {
    width: 80px;
    margin-top: -10px;
    margin-left: 48px;
  }

  .navbar-toggle {
    /* border: 2px solid #FFFFFF; */
    color: #ffffff;
    background: #f0842d;
  }

  .__dascard p:nth-child(2) {
    font-size: 10px;
    margin-bottom: 0px;
    padding: 3px 10px;
  }
  .__dascard p:nth-child(3) {
    font-size: 15px;
    margin-bottom: 0px;
    padding: 3px 10px 10px;
  }

  .__pa {
    margin: 45px 8px 9px 0px;
    width: 100%;
  }
  .__addag {
    margin: 45px 8px 9px 0px;
    width: 100%;
  }

  .__pfin {
    padding: 20px 10px;
  }

  .__pfpa {
    padding: 10px 27px;
  }

  .__prof {
    padding: 12px 11px;
  }

  .__setp {
    border: 1px solid #e6e6e6;
    text-align: center;
    padding: 20px 9px;
  }


}


/*=================================================================
  Dashboard Css end
==================================================================*/








/*=================================================================
  @media screen 1440px
==================================================================*/


@media screen and (min-width: 1440px){
   
  .__vcimg img {
    width: 907px;
  }

  .__vcimg1 img {
    width: 446px;
  }

  .__navm {
    bottom: -269px;
    margin: 0 0 0 241px;
    padding: 20px 0;
  }


}

/*=================================================================
  @media screen 1199px
==================================================================*/


@media screen and (max-width: 1199px){
   
  

}


/*=================================================================
  @media screen 1220px
==================================================================*/


@media screen and (max-width: 1220px){
  
  .__navm {
    bottom: -243px;
    margin: 0px 0 0 159px;
   }

  .__msgin {
    margin: 20px 0px 20px 57px;
    width: 900px;
  }



}


/*=================================================================
  @media screen 1024px
==================================================================*/


@media screen and (max-width: 1024px){

  .__navm {
    position: unset;
    width: 100%;
    margin: 0;
   padding: 15px 0;
  }

  .__vflotimg {
    padding: 0 40px;
  }

  .__vflotimg1 {
    padding: 0 40px;
  }

  .__navsbtn {
    width: 141px;
  }

  .__megamenu {
    width: 1038px;
    margin-left: -51px;
    padding: 0px;
  }

  .__vfbtn {
    padding: 9px 8px;
  }

  .__vcimg img {
    height: 289px;
  }

  .__vcimg1 img {
    height: 289px;
  }

  .__tradeal {
    top: 21px;
  }

  .__bidn {
    position: absolute;
    top: 21px;
  }

  .__foter {
    padding: 39px 93px;
  }

  .__msgin {
    margin: 20px 0px 20px 85px;
    width: 717px;
  }

  .text-bar button {
    width: 82px;
  }

  .__md7 {
    padding: 10px;
  }


  .__pcard {
    width: 100%;
  }
  .__pcard1 {
    width: 100%;
  }

  .__pcard2 {
    width: 100%;
  }

  .__cardh {
    margin: 100px 36px 10px 85px;
    width: 729px;
  }

  .__ptable {
    width: 100%;
  }
 
  

}


/*=================================================================
  @media screen 992px
==================================================================*/


@media screen and (max-width: 992px){
  .__msgin {
    margin: 20px 0px 20px 91px;
    width: 693px; 
  }

  .__md7 {
    padding: 10px;
  }
}


/*=================================================================
  @media screen 800px
==================================================================*/

@media screen and (max-width: 800px){

	.__navw {
    width: 100%;
  }

  
  .__mdbg {
    padding: 29px;
  }

  .__mdbg1 {
    padding: 29px;
  }

  .__navm {
    position: unset;
    width: 100%;
    margin: 0;
  }

  .__vflotimg {
    padding: 0 8px;
  }

  .__vflotimg1 {
    padding: 0 8px;
  }


  .__dropt {
  width: 100%;
    height: 38px;
  }

  .__navsbtn {
    width: 100%;
    height: 38px;
    padding-top: 9px;
  }

  .__megamenu {
    width: 784px;
    margin-left: -34px;
    padding: 2px;
  }

  .__topt {
    margin-top: 0%;
  }

  .__vcardp {
    font-size: 16px;
    padding: 14px;
  }

  .__vcimg img {
    width: 890px;
    height: 240px;  
  }

  .__vcimg1 img {
    width: 426px;
    height: 240px;
  }

  .__tradeal {
    top: 16px;
  }

  .__bidn {
    top: 16px;
  }

  
  .__vft {
    width: 95px;
    margin-left: -35px;
  }

  .__vftt {
    width: 95px;
    margin-left: 58px;
  }

  .__vfbtn {
    padding: 9px 10px;
  }

  .__fh {
    font-size: 15px;
  }

  .__foter {
    padding: 39px 20px;
    margin-top: 3%;
  }


  .__fod {
    padding: 0 50px;
  }

  .__msgin {
    margin: 34px 0px 20px 0px;
    width: 100%;
  }

  .__pcard {
    width: 100%;
  }

  .__pcard1 {
    width: 100%;
  }

  .__pcard2 {
    width: 100%;
  }

  .__cardh {
    margin: 100px 36px 10px 0px;
    width: 724px;
  }

  .__ptable {
    width: 723px;
  }

  .__ttab {
    margin-top: 2%;
  }

  .__pcardin {
    margin-left: 8px;
  }
  




}


/*=================================================================
  @media screen 560px
==================================================================*/


  @media screen and (max-width: 560px){

  .__navw {
    width: 100%;
    font-size: 12px;
  }

  .__navin {
    font-size: 27px;
  }

 

  .__cdl {
    padding-left: 15px;
  }

  .__cdr {
    padding-left: 15px;
  }

  .__mdbg {
    padding: 17px;
  }

  .__mdbg1 {
    padding: 17px;
  }

  .__art {
    font-size: 30px
  }

  .__regbtn {
    font-size: 12px;
    padding: 10px;
  }

  .__navfu1 {
    margin:0 auto;
    width: 100%;
  }

  .__navfu {
    margin: 0 auto;
    width: 100%;
  }

  .__navbtn {
    width: 100%;
    margin-top: 5px;
  }

  .__navm {
    position: absolute;
    bottom: -522px;
    width: 100%;
    margin: 0;
  }

  .__vflotimg {
    padding: 0;
  }

  .__vflotimg1 {
    padding: 0;
    border-right: 1px solid #d4d4d4;
  }

  .__imgs {
    margin-left: 38px;
  }

  .__topt {
    margin-top: 30%;
  }

  .__bottomMenu {
    width: 100%;
    height: 130px;
  }

  .__navsbtn {
    width: 100%;
    height: 100%;
    margin-top: 1px;
    padding-top: 8px;
  }

  .__navdf {
    margin-top: 7px;
  }


  .__megamenu {
    width: 332px;
    margin-left: -14px;
    padding: 3px;
  }


  .__vcardp {
    bottom: 0px;
    font-size: 13px;
    padding: 10px;
  }

  .__vf {
    bottom: 0px;
    width: 330px;
  }

  .__vfp {
    font-size: 13px;
  }

  .__foter {
    padding: 39px 15px;
    text-align: center;
  }

  .__fosocai {
    text-align: center;
    float: none;
}

.__vcard {
    margin: 3% 1% 3% 1%;
}

.__vcard1 {
    margin: 6% 0% 6% 0%;
  }

  .__vcard2 {
    margin: 6% 5% 6% 1%;
  }

  .__vcimg img {
    width: 100%;
    height: 200px;
  }

  .__vcimg1 img {
    width: 100%;
    height: 200px;
  }

  .__tradeal {
    position: absolute;
    top: 0px;
  }

  .__bidn {
    position: absolute;
    top: 0px;
  }

  .__vft {
    width: 95px;
    margin-left: -9px;
  }

  .__vftt {
    width: 95px;
    margin-left: -3px;
  }


  .__vfbtn {
      font-size: 12px;
      padding: 9px 12px;
  }

  .__logbg {
    padding: 20px 0;
  }

  .__lform {
    font-size: 14px;
  }

  .__lfbd {
    height: 100%;
    width: 100%;
  }

  .__lfori {
      margin: 0 auto;
      width: 280px;
  }

  .__lfbtn {
    width: 279px;
  }

  .__lgsoc {
    margin-top: 7%;
    text-align: center;
  }

  .__lsp {
     margin-right: -5px;
  }

  .__lsp1 {
    padding: 12px 25px 12px;
    font-size: 14px;
  }

  .__lsp3 {
    padding: 12px 14px 12px;
    font-size: 14px;
  }

  .__lagbtn {
    width: 138px;
  }

  .__msgin {
    margin: 36px 0px 20px 0;
    width: 100%;
  }

  .__md7 {
    padding: 6px;
  }

  .left-chat p, .right-chat p {
    width: 72%;
  }

  .__cardh {
    margin: 65px 36px 10px 0px;
    width: 100%;
  }

  .__pcard {
    width: 100%;
    height: 100%;
  }
  .__pcard1 {
    width: 100%;
    height: 100%;
  }
  .__pcard2 {
    width: 100%;
    height: 100%;
  }

  .__pcardin {
    position: unset;
    margin-left: 0px;
    width: 100%;
    height: 67px;
    padding: 6px 10px;
  }

  .__ptr1 {
    font-size: 25px;
  }

  .__pta {
    font-size: 13px;
  }
  .__ptp {
    font-size: 13px;
  }
  .__ptt {
    font-size: 13px;
  }

  .__ptable {
    width: 100%;
    padding: 11px;
    margin-top: 5%;
  }

  .__pane-vScroll {
    width: 800px;
    /*width: 1334px;*/
  }

  .table table {
  table-layout: fixed;
  margin-bottom: 5px;
  width: 800px;
  /*width: 1334px;*/
  }


  .__dasempl {
    margin: 45px 8px 9px 0;
    width: 100%;
  }


}

