/*=================================================================
	Basic Setup css
==================================================================*/
html {
    font-size: 100%;
    min-height: 100%;
}

body {
	/*font-family: 'Raleway', sans-serif;*/
	font-family: '', AvenirLTStd-Roman;
	font-size: 14px;
	color: #222222;
	font-weight: normal;
	overflow-x: hidden;
	line-height: 20px;
}




@font-face{
  font-family: 'AvenirLTStd-Roman';
  src: url('../../Avenir/AvenirLTStd-Roman.otf');
}
@font-face{
  font-family: 'AvenirLTStd-Medium';
  src: url('../../Avenir/AvenirLTStd-Medium.otf');
}
@font-face{
  font-family: 'AvenirLTStd-Book';
  src: url('../../Avenir/AvenirLTStd-Book.otf');
}
@font-face{
  font-family: 'AvenirLTStd-Black';
  src: url('../../Avenir/AvenirLTStd-Black.otf');
}
@font-face{
  font-family: 'AvenirLTStd-Heavy';
  src: url('../../Avenir/AvenirLTStd-Heavy.ttf');
}

@font-face{
  font-family: 'Raleway-Bold';
  src: url('../../raleway/Raleway-Bold.ttf');
}

@font-face{
  font-family: 'HelveticaNeue Medium';
  src: url('../../helveticaneue/HelveticaNeue Medium.ttf');
}

@font-face{
  font-family: 'Helvetica Neu Bold';
  src: url('../../helveticaneue/Helvetica Neu Bold.ttf');
}
.f1{
  font-family: "Poppins-Regular";
}
.f2{
  font-family: "Sofia Pro Regular";
}
.f3{
  font-family: "sofiapro-light";
}
.f4{
  font-family: "Cera GR Thin";
}
.f5{
  font-family: "Cera GR Black";
}
 
 .l-h2{line-height: 27px}
.l-h{line-height: 45px;}
.l-h3{line-height: 60px;}
.l-h1{line-height: 30px;}


a,
a:active,
a:hover,
a:focus,
a:visited{
	text-decoration:none;
	/*background:transparent;*/
	outline:none;
	color:inherit;
}

/*a:hover{
	color: #663fb5 !important;
}*/

button:focus{
	outline:none;
}

li{
	/*list-style:none;*/
}

article,
figure,
footer,
header,
nav,
section{
	display:block
}

select:focus {
    outline-offset:0;
}

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
	width: device-width;
}
@-moz-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@-o-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}





a:focus, a:hover {
    	text-decoration:none !important;
	}


.navbar {
    /*position: relative;*/
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
}

.navbar-toggle {
  /*border: 2px solid #FFFFFF;*/
  color: #ffffff;
}

.navbar-toggle .icon-bar {
    background: #fff !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

.header-body {
  height: calc(100vh - 80px);
}

#form .input-group input[class="form-control"] {
  border-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 17px;
  color:#222;
  padding:7px 12px;
  border-right-width:0;
}
.box-s{
  /*box-shadow: 0px 5px 5px #888888;*/
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
#form .input-group select[class="form-control"] {
  border-radius:50px;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  font-size:17px;
  width:100px;
  color:#222;
  border-left-width:0;
}

.form-control:focus {
    border:1px solid #ccc !important;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(254, 86, 33, .6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 2px rgba(0, 0, 0, .6) !important;
}

.form-group1 .form-control:focus {
    border:none!important;
    outline:0;
    -webkit-box-shadow:none !important;
    box-shadow: none !important;
    border-bottom:1px solid brown !important;
}








.clearfix{
  clear: both;
}




.dis-f {display:flex !important;}
    
.diss-none {display:none !important;}
    


.bs{box-shadow: 0 4px 10px rgba(0,0,0,0.43);}

.bs3{box-shadow: 0px 0px 10px #663FB5;}







/*clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);*/
/*end*/




.bg-head{
  /*background: linear-gradient(100deg, rgba(215, 221, 232, 0.6) 50%, rgba(215, 221, 232, 0.6) 50%),url(../img/capture.png);*/
  /*background-attachment: fixed;*/
  /*background-image: url(../img/capture2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    /*background-blend-mode: normal;*/
    /*clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);*/
}
.bg-head4{
  background-image: url(../img/capture4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-head41{
  background:linear-gradient(100deg, rgba(34, 34, 34, 0.5) 50%, rgba(34, 34, 34, 0.5) 50%), url(../img/landingpage.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*min-height: 634px;*/
}

.bg-head1{
  background-color: #FCFCFC !important;
   clip-path: polygon(0 0, 1600px 0, 1600px 100%, 0 100%);

}
.bg-headp{
  background-color: #F7F7F7 !important;
}
.bg-head2{
  background-color: #DDDDDD!important;
   clip-path: polygon(0 0, 1600px 20%, 1600px 100%, 0 100%);

}
	


::-webkit-scrollbar{
	height: 7px;
	width: 7px;
}
::-webkit-scrollbar-track{
	border-radius: 50px;
	/*-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.1);*/
}
::-webkit-scrollbar-thumb{
	border-radius: 1px;
	background-color: #a7a7a7;
}


/*=================================================================
	Dashboard Css
==================================================================*/


/*adminsection*/
.leftbar{
  position: fixed;
  /*padding-top: 42px;*/
  padding-top: 6%;
  left: 0%;
  /*top: 0%;*/
  background-color: #ffffff;
  /*border-right: 1px solid #c0bebe33;*/
  border-right: 1px solid #e3e3e3;
  width: 256px;
  height: 100%;
  transition: all .6s ease;
  overflow-y: scroll;
  overflow-x: hidden;
}

.leftbar::-webkit-scrollbar {
    width: 0px;
}
.butt_section{
  padding: 35px;
}
.leftbar p {
  font-family: AvenirLTStd-Medium;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #595959;
  background-color: white;
  padding: 12px 40px;
 /* margin-bottom: 10%;*/
  cursor: pointer;
  text-align: center;
}
.dashboard_name {
    padding: 2px;
    margin-left: 16%;
    margin-bottom: 10%;
}
.leftbar i {
    float: left;
    padding: 4px;
}
.activedashboard{
  /*background-color: #f9f9f9 !important;*/
  font-family: AvenirLTStd-Black !important;
  font-size: 16px !important;
  font-weight: 900 !important;
  letter-spacing: 0.4px;
    /*color: #595959 !important;*/
    border-left: 4px solid #f0842d !important;
    border: 1px solid #f0842d;
    color: #f0842d !important;
    /*width: 197px;*/
    width: 100%;
}


  /*traveler dashboard*/
.activedashboardt{
  /*background-color: #f9f9f9 !important;*/
  font-family: AvenirLTStd-Black !important;
  font-size: 16px !important;
  font-weight: 900 !important;
  letter-spacing: 0.4px;
    /*color: #595959 !important;*/
    border-left: 4px solid #2a94d5 !important;
    border: 1px solid #2a94d5;
    color: #2a94d5 !important;
    /*width: 197px;*/
    width: 100%;
}


.subactivedashboard{
  /*background-color: #f9f9f9 !important;*/
  color: #663fb5 !important;
}

.subdashleft{
  border-left: 3px solid #c0bebe33;
}

.emplsubactivedashboard{
  background-color: #f9f9f9 !important;
  color: #663fb5 !important;
  padding: 5px !important;
}

#openSidebar{
  display: none;
}
.leftbar .me {
    margin-top: 21%;
    margin-bottom: 1%;
    height: 65px;
    margin-left: 12%;
    width: 65px;
}
.maianer {
    padding: 10px 55px;
}
.biger{
  width: 35% ;
  transform: translate(0px) !important;
  z-index:1  !important;
  
}



/*for image close*/
img#closebtn {
    position: absolute;
    top: 3%;
    color: indianred;
    font-size: 21px;
    display: none;
    cursor: pointer;
    right: 5%;
    width: 15px;
}

i#closebtn {
    position: absolute;
    top: 3%;
    color: indianred;
    font-size: 21px;
    display: none;
    cursor: pointer;
    right: 5%;
    width: 15px;
}

/*right slider side*/
.bigers {
    width: 280px;
    transform: translate(0px) !important;
    z-index: 1 !important;
    display: block !important;
    float: right;
    position: absolute;
    margin-top: 0%;
    margin-left: 364px;
    background: #fff;
    padding:11px 0 20px;
    /* height: 443px; */
}

  .rightbars{
    transform: translate(-1000px);
    top: 0%;
    display: none;
    background-color: #f7f9fc;
  }
  .rightbars hr{
    margin-top: 6px;
  }
  #openrightSidebars{
    display: block !important;
    cursor: pointer !important;
  }

  /*for image close*/
  img#rightclosebtns {
    display: block;
    top: 3%;
    margin-left: 247px;
    cursor: pointer;
    width: 12px;
  }

  i#closebtn {
     display: block;
     top: 2%;
    left: 5%;
  }
  /*end*/

  .__mscro{
    overflow: scroll;
    overflow-x: hidden;
    height: 459px;
  }

  .__mscro::-webkit-scrollbar {
    width: 2px;
  }

  .__mscro::-webkit-scrollbar-thumb {
    background: #333;
  }

  .__rigba{
    padding: 20px;
    height: 270px;
  }

  .__rigba1{
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    padding: 10px;
  }

  .__rigba1in {
    margin: 0 auto;
    width: 185px;
    text-align: center;
  }

  .__rigba1in hr{
    margin:5px;
  }

  .__rigbtn {
    font-family: AvenirLTStd-Medium;
    width: 105px;
    height: 34px;
    border-radius: 3px;
    background-color: #f0842d;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #ffffff;
    margin-top: 6px;
    transition: all 0.4s ease-in;
  }
  .__rigbtn:hover {
    background-color: #c76f28;
    color: #ffffff;
  }

  .__rigp{
    font-family: AvenirLTStd-Black;
    font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.4px;
  color: #595959;
  margin-bottom: 1px;
  }
  .__rigp1{
    font-family: AvenirLTStd-Medium;
    font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #b5b5b5;
  margin-bottom: 1px;
  }

  .__rigin2{
    background-color: #f9f9f9;
    border: 1px solid #e3e3e3;
    padding: 5px;
  }

  .__rigin2in span:nth-child(1){
    font-family: AvenirLTStd-Medium;
    font-size: 10px;
  font-weight: 900;
  letter-spacing: 0.3px;
  color:#454545;
  }

  .__rigin2in span:nth-child(2){
    font-family: AvenirLTStd-Roman;
    font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color:#555555 ;
  }

  .__mpt{
    margin-top: 12%;
  }

  .__profcont {
    font-family: AvenirLTStd-Black;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0.3px;
    color: #595959;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(236, 236, 236, 0.5);
    background-color: #ffffff;
    border: solid 1px #eeeeee;
    padding: 4px 0;
    margin: 13px 28px;
  }

  .__profimg {
    /* position: absolute; */
    margin-top: -34px;
    margin-bottom: 3px;
    margin-left: 82px;
    width: 52px;
    /* height: 46px; */
    padding: 7px 7px;
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 rgba(215, 215, 215, 0.5);
    border-radius: 50%;
  }

  .__profimg img {
    width: 38px;
    height: 37px;
    box-shadow: 0 0 4px 3px rgba(234, 234, 234, 0.5);
    border-radius: 50%;
  }

  .__rinc{
    background-color:#ffffff;
    padding: 11px 10px 0px;
    border: 1px solid #e3e3e3;
  }


  .__rigin{
    border-right: 1px solid #979797;
    border-left: 1px solid #979797;
    text-align: center;
    height: 29px;
  }

  .__rigin .__mrig p:nth-child(1){
    font-family: AvenirLTStd-Heavy;
    font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #595959;
  margin-bottom: 4px;
  text-align: center;
  }
  .__lrig p:nth-child(1){
    font-family: AvenirLTStd-Heavy;
    font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #595959;
  margin-bottom: 4px;
  text-align: center;
  }

  .__rigin .__mrig p:nth-child(2){
    font-family: AvenirLTStd-Heavy;
    font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.3px;
  color: #b2b2b2;
  text-align: center;
  }
  .__lrig p:nth-child(2){
    font-family: AvenirLTStd-Heavy;
    font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.3px;
  color: #b2b2b2;
  text-align: center;
  }
/*end*/





/*dash nav*/
.__dasbg{
  background: #ffffff;
}

.__dashnav{
  height: 81px;
  background-color: #ffffff;
  border: solid 1px #f3f3f3;
  margin-bottom: 0px;
}
.__dashnu{
  margin-top: 10px;
}

.__dashnu .__dp{
  margin-top: 10px;
}
.__dasnt{
  position: absolute;
  margin-top: 4px;
}
.__dasnt1{
  color: #ea4335;
  font-size: 6px;
}
.__dasser{
  margin-top: 5px;
  width: 260px !important;
  height: 40px;
  opacity: 0.6;
  border-radius: 5px;
  box-shadow: 0 5px 45px 0 rgba(46, 104, 208, 0.1);
  background-color: #ffffff;
  border: solid 1px #dadde8;
}

.__daimg img{
      width: 35px;
    height: 35px;
    box-shadow: 0 5px 55px 0 rgba(46, 104, 208, 0.1);
    border-radius: 50%;
}

.__dashsimg {
    position: absolute;
    margin-top: -85px;
    margin-left: -25px;
    padding: 7px 7px;
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 rgba(215, 215, 215, 0.5);
    border-radius: 50%;
}

.__dashsimg img{
  width: 38px;
  height: 37px;
  box-shadow: 0 0 4px 3px rgba(234, 234, 234, 0.5);
  border-radius: 50%;
}

.__dascont{
  font-family: AvenirLTStd-Black;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.3px;
  color: #595959;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(236, 236, 236, 0.5);
  background-color: #ffffff;
  border: solid 1px #eeeeee;
  padding: 35px 46px 9px;
}

.__dassc{
  margin-top: 6%;
}

.__dasepl{
  font-family: AvenirLTStd-Black;
  font-size: 14px;
  font-weight: 500;
  color: #595959;
  margin: 5% 0 0 32px;
    width: 926px;
    background-color: #ffffff;
    border: solid 1px #e6e6e6;
    padding: 10px 20px 1px;
}

.__dasepl span:nth-child(1){
  padding: 14px 29px;
  margin-left: 28%;
}

.__dasepl span:nth-child(2){
  border-right: 1px solid;
  font-size: 25px;
}

.__dasepl span:nth-child(3){
  font-size: 19px;
  padding: 8px 16px 6px 16px;
}

.__dasepl1{
  margin: 45px 8px 9px 92px;
  width: 800px;
}

.__dascard{
  width: 387px;
  /*height: 228px;*/
  background-color: #ffffff;
  border: solid 1px #e9e9e9;
  transition: all 0.4s ease-in;
}

.__dascard:hover {
    /*background-color: #fffffe;
    box-shadow: 0 0 4px 4px rgba(235, 235, 235, 0.5);*/
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0px 14px 24px rgba(62, 57, 107, 0.2);
    z-index: 999;
}

.__dascard img{
  width: 385px;
  height: 150px;
}

.__dascard p:nth-child(2){
  font-family: AvenirLTStd-Medium;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #595959;
  padding: 10px;
  margin-bottom: 0px;
}

.__dascard p:nth-child(3){
  font-family: AvenirLTStd-Medium;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: #595959;
  padding: 10px;
  margin-bottom: 0px;
}

/*for upload images*/
input[type="file"] {
  display: block;
}
.imageThumb {
  max-height: 75px;
  border: 1px solid #00aeef;
  padding: 1px;
  cursor: pointer;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.remove {
  display: block;
  background: #00aeef;
  border: 1px solid #00aeef;
  color: white;
  text-align: center;
  cursor: pointer;
}
.remove:hover {
  background: white;
  color: black;
}
/*end*/


/*custom upload*/
.form-style-fake5{
  position:absolute;top:0px;
}
.form-style-base5{
  position:absolute;
  top:0px;
  z-index: 999;
  opacity: 0;}
/*.imgCircle{border-radius: 50%;}*/
.form-control5{
  padding: 5px 13px;
}
.form-input5 {
  height: 45px;
    border-radius: 3px;
    background-color: #f7fbff;
  /*height: 38px;
  border-radius: 4px;*/
  /* margin-top: 20px; */
  cursor: pointer;
  /*top: 36%;*/
  margin-top: 8%;
  border: 1px solid #ccc;
  width: 90% !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  color: #9b9b9b;
}

.input-place5{
  left: 95%;
  top: 1px;
  color: #9b9b9b;
}

/*date picker*/
.datepicker {
  z-index: 1902;
}

.__donln {
    border: none;
}

.__modbtn {
    font-family: AvenirLTStd-Medium;
    width: 155px;
    height: 45px;
    border-radius: 3px;
    background-color: #f0842d;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #ffffff;
    transition: all 0.4s ease-in;
}

.__modbtn:hover {
    background-color: #c76f28;
    color: #ffffff;
}

.__modc{
  font-family: AvenirLTStd-Medium;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #595959;
}


/*traveller dashboard*/

.__tabov{
  margin: 5% 0 0 89px;
    width: 926px;
}

.__nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #ededed;
}

.__nav-pills{
  border: 1px solid #ececec;
  padding-right: 0px;
  margin-top:10%;
}

.__nav-pills li a{
  padding: 20px 50px 9px;
  border: 1px solid #f0f0f0;
  border-radius: 0px;
}

.__nav-pills>li+li {
    margin-top: 0px;
}

.__trvto{
  border-radius: 3px;
    background-color: #f9f9f9;
    border: 1px solid #f0f0f0;
    padding: 10px 50px 3px;
    margin-bottom: 5px;
}

.__tra img{
    width: 24px;
    height: 24px;
}

.__tra span{
  font-family: AvenirLTStd-Medium;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.69;
  color: #4a90e2;
}
.__tra1{
  font-family: AvenirLTStd-Medium;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.69;
  color: #595959;;
}

.__tab{
  box-shadow: 0 0 4px 4px rgba(242, 242, 242, 0.5);
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  padding: 40px 20px;
}

.__tabp{
  font-family: AvenirLTStd-Black;
  font-size: 18px;
  font-weight: 900;
  line-height: 0.67;
  letter-spacing: 0.4px;
  text-align: center;
  color: #454545;
}

.__tabp1{
  font-family: AvenirLTStd-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 0.86;
  letter-spacing: 0.3px;
  text-align: center;
  color: #b5b5b5;
  margin-top: 30px;
}

.__tabp2{
  font-family: AvenirLTStd-Black;
  font-size: 14px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.3px;
  text-align: center;
  color: #454545;
  margin-top: 30px;
}

.__tabin{
  border-radius: 3px;
  background-color: #d8d8d8;
  border: solid 1px #979797;
  padding: 15px;
  margin: 0 auto;
  width: 233px;
}

.__tabin p:nth-child(1){
  font-family: AvenirLTStd-Black;
  font-size: 18px;
  font-weight: 900;
  line-height: 0.67;
  letter-spacing: 0.4px;
  text-align: center;
  color: #454545;
}
.__tabin p:nth-child(2){
  font-family: AvenirLTStd-Heavy;
  font-size: 18px;
  font-weight: 900;
  line-height: 0.67;
  letter-spacing: 0.4px;
  text-align: center;
  color: #595959;
}

.__tabin span{
  color: #1a72e6;
}

.__tabin1 p:nth-child(1){
  font-family: AvenirLTStd-Heavy;
  font-size: 14px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.3px;
  text-align: center;
  color: #595959;
  margin-bottom: 0px;
}
.__tabin1 p:nth-child(2){
  font-family: AvenirLTStd-Heavy;
  font-size: 14px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.3px;
  text-align: center;
  color: #595959;
  margin-bottom: 0px;
}
.__tabin1 p:nth-child(3){
  font-family: AvenirLTStd-Heavy;
  font-size: 14px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.3px;
  text-align: center;
  color: #595959;
  margin-bottom: 0px;
}

/*traveller upload*/

.__upall{
  font-family: AvenirLTStd-Roman;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-align: center;
  color: #454545;
}
.__upl{
  border-radius: 3px;
  box-shadow: 0 0 4px 4px rgba(242, 242, 242, 0.5);
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  padding: 40px 70px;
}

.__upl p{
  font-family: AvenirLTStd-Black;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.4px;
  text-align: center;
  color: #454545;
}

.thumb {
  width: 158px;
  height: 108px;
  border: solid 1px #e3e3e3;
    margin: 0.2em -0.7em 0 0;
}
.remove_img_preview {
    position:relative;
    top:-25px;
    right:5px;
    background:black;
    color:white;
    border-radius:50px;
    font-size:0.9em;
    padding: 0 0.3em 0;
    text-align:center;
    cursor:pointer;
}
.remove_img_preview:before {
    content: "×";
}

/*end*/

.__prd{
  border-radius: 3px;
  box-shadow: 0 0 4px 4px rgba(242, 242, 242, 0.5);
  background-color: #ffffff;
  padding: 20px 25px 47px;
}


/*accordion*/


.__accordion{
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding: 18px 56px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  transition: 0.4s;
  box-shadow: 0 0 4px 4px rgba(242, 242, 242, 0.5);
}
      
.accordion-toggle {
  border-bottom: 1px solid #cccccc;
cursor: pointer;
margin: 0;
padding: 10px 0;
position: relative;
}
.accordion-toggle.active:after{
  content:"";
position:absolute;
right:0;
top:17px;
width:0;
height:0;
border-bottom:5px solid #444;
border-left:5px solid rgba(0,0,0,0);
border-right:5px solid rgba(0,0,0,0);
}
.accordion-toggle:before{
  content:"";
  position:absolute;
  right:0;top:17px;
  width:0;
  height:0;
  border-top:5px solid #000;
  border-left:5px solid rgba(0,0,0,0);
  border-right:5px solid rgba(0,0,0,0);
}
.accordion-toggle.active:before{
  display:none;
}
.accordion-content {
  display: none;
}
.accordion-toggle.active {
  color: #2980b9;
}
/*end*/


.__pred{
  font-family: AvenirLTStd-Black;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #595959;
}

.__prp p:nth-child(1){
  font-family: AvenirLTStd-Black;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #595959;
  margin-top: 20px;
}

.__prp p:nth-child(2){
  font-family: AvenirLTStd-Black;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #595959;
}

.__prp p:nth-child(3){
  font-family: AvenirLTStd-Black;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.8px;
  color: #595959;
}
.__prp p:nth-child(4){
  font-family: AvenirLTStd-Heavy;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.8px;
  color: #595959;
  opacity: 0.8;
}



.__proft{
  border-right: 1px solid;
}

.__profbtn {
    font-family: AvenirLTStd-Medium;
    width: 186px;
    height: 45px;
    border-radius: 3px;
    background-color:#2a94d5;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #ffffff;
    transition: all 0.4s ease-in;
}
.__prof1btn {
    font-family: AvenirLTStd-Medium;
    width: 186px;
    height: 45px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #2a94d5;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #2a94d5;
    transition: all 0.4s ease-in;
}

.__profbtn:hover {
    background-color: #2a94d5;
    color: #ffffff;
}

.__prof1btn:hover {
    background-color:#ffffff;
    color: #2a94d5 ;
}




.__it .btn-orange
{
    background-color: transparent;
    border-color: #777!important;
    color: #777;
    text-align: left;
  width:100%;
}
.__it input.form-control
{
    height: 54px;
    border:none;
  margin-bottom:0px;
    border-radius: 0px;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
}
.__it .form-control:focus
{
    border-color: #ff4d0d;
    box-shadow: none;
    outline: none;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.__it .btn-new, .__it .btn-next
{
    margin: 10px 0px;
    border-radius: 3px;
    background-color: transparent;
    border-color: #2a94d5;
    color: #2a94d5;
    font-size: 16px;
    width: 155px;
}
.__it .btn-next
{
    background-color: #2a94d5;
    color: #fff;
}
.__it .btn-check
{
  cursor:pointer;
  line-height:54px;
  color:red;
}
.__it .uploadDoc
{
    /*margin-bottom: 20px;*/
}
.__it .btn-orange img {
    width: 30px;
}

.__it #uploader .docErr
{
    position: absolute;
    right:auto;
    left: 10px;
    top: -56px;
    padding: 10px;
    font-size: 15px;
    background-color: #fff;
    color: red;
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.2);
    display: none;
}
.__it #uploader .docErr:after
{
    content: '\f0d7';
    display: inline-block;
    font-family: FontAwesome;
    font-size: 50px;
    color: #fff;
    position: absolute;
    left: 30px;
    bottom: -40px;
    text-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}







/*=================================================================
	Custom Css
==================================================================*/

.__ibg{
  background:linear-gradient(100deg, rgba(34, 34, 34, 0.5) 50%, rgba(34, 34, 34, 0.5) 50%), url(../img/vorster.jpg);
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*min-height: 634px;*/
}

.__logo{
  width: 120px;
}

.__dropn{
  width: 20px;
}

.__bottomMenu {
  position: fixed;
  padding-top: 20px;
  top: 0;
  width: 100%;
  height: 70px;
  border-top: 1px solid #000;
  background: #ffffff;
  z-index: 102;
  transition: all 1s;
  box-shadow: 0 4px 10px rgba(0,0,0,0.43);
  transition: all 0.4s ease-in;
}

.nav .__navfdr>a, .nav .__navfdr>a:focus, .nav .__navfdr>a:hover{
  background: transparent !important;
  color: #ffffff !important;
}

.__navel{
  background-color: transparent;
}

.__navf{
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 1.1px;
  color: #ffffff !important;
  font-family: AvenirLTStd-Medium;
}

.__nvt{
  margin-top: 5%;
}

.__navin{
  font-family: AvenirLTStd-Black;
  font-size: 56px;
  font-weight: 900;
  line-height: 1.23;
  letter-spacing: 1.4px;
  color: #ffffff;
  /*text-shadow: 0 0 36px rgba(255, 255, 255, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5);*/
}

.__apimg{
  width: 500px;
}

.__navw{
  width: 500px;
  font-family: AvenirLTStd-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.78;
  letter-spacing: 0.5px;
  color: #ffffff !important;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.__navfu{
  margin: 0 -15px;
    width: 540px;
}

.__navfu1{
  padding-top: 5%;
  margin: 0 -15px;
    width: 540px;
}

.__navbtn{
  width: 250px;
  border-radius: 5px;
  background-color: #f8f8f8;
  /*box-shadow: 0 0 4px 2px rgba(228, 228, 228, 0.5);*/
  font-family: AvenirLTStd-Book;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #000000 !important;
  padding: 10px 20px 5px;
}

.__navsbtn{
  width: 187px;
  height: 45px;
  border-radius: 3px;
  background-color: #ea4335;
  border: solid 1px #f2f2f2;
  font-family: AvenirLTStd-Heavy;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff!important;
  margin-top: -10px;
  padding-top: 12px;
}

.__navl{
  padding-left: 0px;
  margin-top: 4px;
  margin-left: -15px;
}

.__dropt{
  margin-top: -10px;
  padding-top: 10px;
  width: 160px;
  height: 45px;
  background-color: #ffffff;
  border: solid 1px #f2f2f2;
  font-family: AvenirLTStd-Book;
  font-size: 13px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #454545;
}

.__megamenu{
  width: 1360px;
    margin-left: -111px;
    border: none;
    padding: 20px;
}

.__imgsh{
  transition: all 0.4s ease-in;
}

.__imgsh:hover{
  background-color: #fffffe;
  box-shadow: 0 0 4px 4px rgba(235, 235, 235, 0.5);
}

.__navdf{
  font-family: AvenirLTStd-Book;
  font-size: 13px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #454545;
}

.__imgpl{
  width: 26px;
  margin-left: 8px;
}

.__imgap{
  width: 26px;
}

.__navov{
  margin-left: -6px;
  padding: 10px;
  width: 60px;
  height: 60px;
  opacity: 0.5;
  background-color: #000000;
  border-radius: 50%
}

.__navov img{
  width: 45px;
}

.__navov1{
  margin-left: -6px;
  padding: 13px;
  width: 60px;
  height: 60px;
  opacity: 0.5;
  background-color: #000000;
  border-radius: 50%
}

.__navov1 img{
  width: 33px;
}

.__navov2{
  margin-left: -6px;
  padding: 13px;
  width: 60px;
  height: 60px;
  opacity: 0.5;
  background-color: #000000;
  border-radius: 50%
}

.__navov2 img{
  width: 34px;
}

.__navovp{
  font-family: AvenirLTStd-Medium;
  padding: 10px 2px;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0.4px;
  color: #ffffff;
}

.__navovp1{
  font-family: AvenirLTStd-Medium;
  margin-left: 10px;
  padding: 10px 2px;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0.4px;
  color: #ffffff;
}

.__nv1{
  padding-right: 0px;
}

.__navovp2{
  font-family: AvenirLTStd-Medium;

  padding: 10px 2px;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0.4px;
  color: #ffffff;
}

.__navm{
  position: absolute;
    bottom: -124px;
  width: 945px;
  margin: 0 0 0 188px;
  border-radius: 4px;
      box-shadow: 0px 11px 20px 0px rgba(237, 237, 237, 0.5);
    background-color: #ffffff;
    border: solid 1px #f5f5f5;
  padding: 30px 0;
}

.__imgs{
    width: 48px;
    margin-left: 46px;
}

.__imp{
  font-family: AvenirLTStd-Heavy;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.2px;
  text-align: center;
  color: #6e6e6e;
}

.__topt{
  font-family: AvenirLTStd-Black;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1.1px;
  text-align: center;
  color: #6e6e6e;
  margin-top: 8%;
  padding: 30px;
}

.__topt1{
  font-family: AvenirLTStd-Black;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1.1px;
  text-align: center;
  color: #6e6e6e;
  padding: 20px;
}

.__art{
  font-family: AvenirLTStd-Black;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 1.2px;
  color: #ffffff !important;
  /*text-shadow: 0 0 36px rgba(255, 255, 255, 0.5);*/
}

.__regbtn{
  font-family: AvenirLTStd-Medium;
  width: 211px;
  height: 46.8px;
  border-radius: 3px;
  background-color: #f0842d;
  box-shadow: 0 0 2px 1px #686868;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #ffffff !important;
  padding: 10px;
}

.__regt{
  margin-top: 37px;
}



.__vcimg img{
  width: 890px;
    height: 366px;
    background-color: #f6f6f6;
}

.__overlay{
  background-color: #2D2134;
    opacity: 0.7;
    height: 366px;
    z-index: 100;
    width: 763px;
    position: absolute;
    background:linear-gradient(100deg, rgba(34, 34, 34, 0.5) 50%, rgba(34, 34, 34, 0.5) 50%);
}

.__overlay1{
  background-color: #2D2134;
    opacity: 0.7;
    height: 366px;
    z-index: 100;
    width: 373px;
    position: absolute;
    background:linear-gradient(100deg, rgba(34, 34, 34, 0.5) 50%, rgba(34, 34, 34, 0.5) 50%);
}

.__vcimg1 img{
  width: 426px;
    height: 366px;
    background-color: #f6f6f6;
}



.__vflotimg{
  border-right: 1px solid #d4d4d4; 
  padding: 0 30px;
}
.__vflotimg1{
  padding: 0 30px;
}

.__vcard {
    margin-top: 5px;
    /* border-radius: 3px; */
    /* box-shadow: 0 0 4px 2px rgba(225, 225, 225, 0.5); */
    /* border: solid 11px #e3e3e3; */
    /*background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.59), #000000);*/
    transition: all 0.3s ease;
    overflow: hidden;
}

.__vcard1 {
    margin-top: 5px;
    /* border-radius: 3px; */
    /* box-shadow: 0 0 4px 2px rgba(225, 225, 225, 0.5); */
    /* border: solid 11px #e3e3e3; */
    /*background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.59), #000000);*/
    transition: all 0.3s ease;
    overflow: hidden;
}

.__vcard2 {
    margin-top: 5px;
    /* border-radius: 3px; */
    /* box-shadow: 0 0 4px 2px rgba(225, 225, 225, 0.5); */
    /* border: solid 11px #e3e3e3; */
    /*background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.59), #000000);*/
    transition: all 0.3s ease;
    overflow: hidden;
}



.__vcard .__vcimg{
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  /*opacity:0.9;*/
}

.__vcard:hover .__vcimg{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  /*opacity:1;*/
  color: #333333 !important;
}

.__vcard1 .__vcimg1{
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  /*opacity:0.9;*/
}

.__vcard1:hover .__vcimg1{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  /*opacity:1;*/
}

.__vcard2 .__vcimg1{
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  /*opacity:0.9;*/
}

.__vcard2:hover .__vcimg1{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  /*opacity:1;*/
}

.__vcardp{
  position: absolute;
    bottom: 20px;
    font-family: Raleway-Bold;
    font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #ffffff;
  /*text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);*/
      text-shadow: 1px 1px 1px #000;
    padding: 28px;
    z-index: 101;
}

.__vcardp span{
  color: #efce4a;
}

.__vf{
  position: absolute;
    bottom: 30px;
    margin:0 auto;
    width: 100%;
    z-index: 101;
}

.__vfp{
  font-family: AvenirLTStd-Black;
    font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #ffffff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.__vfp span{
  color: #efce4a;
}

.__vfbtn{
  /*width: 138px;
  height: 47px;*/
  border-radius: 3px;
  background-color: #f0842d;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #ffffff !important;
  padding: 9px 16px;
}

.__vft{
  margin-top: 30px;
}
.__vftt{
  margin-top: 30px;
}

.__tradeal{
  position: absolute;
  top: 5px;
  padding: 13px;
  width: 104px;
  height: 69px;
  border-radius: 3px;
  background-color: #359ad1;
  font-family: AvenirLTStd-Black;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  z-index: 101;
}

.__bidn{
  position: absolute;
  top: 5px;
  padding: 13px;
  width: 104px;
  height: 69px;
  border-radius: 3px;
  background-color: #d0021b;
  font-family: AvenirLTStd-Black;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  z-index: 101;
}

.__cdl{
  padding-left: 3px;
}

.__cdr{
  padding-right: 3px;
}

.__mdbg{
  background:linear-gradient(100deg, rgba(34, 34, 34, 0.5) 50%, rgba(34, 34, 34, 0.5) 50%), url(../img/unsplash.jpg);
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*min-height: 634px;*/
    padding: 90px;
}

.__mdbg1{
  background:linear-gradient(100deg, rgba(34, 34, 34, 0.5) 50%, rgba(34, 34, 34, 0.5) 50%), url(../img/black-girl-travel.jpg);
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*min-height: 634px;*/
    padding: 90px;
}


/*price slider*/
#price-slider{
  width:300px;
  height:80px;
  font-size:14px;
}

#price-slider input{ 
  width:90px;
  display:inline-block;
  font-size:12px;
}

#slider-range{
  position:relative;
  margin:auto;
  width:250px;
  height:3px;
  border:solid 1px black
  }

#slider-range .ui-slider-handle {
  position: absolute;
  width:11px;
  height:11px;
  margin-top:2px;
  border:none;
  background:#000000;
  cursor: pointer;
  }

#slider-range .ui-slider-range{
  background:red !important;
}

#slider-range .ui-corner-all{
  border-radius:0px;
}


.__foter{
  background-color: #f6f6f6;
  border: solid 1px #e6e6e6;
  padding: 39px 128px;
  margin-top: 3%;
}

.__fh{
font-family: AvenirLTStd-Heavy;
font-size: 18px;
  font-weight: 900;
  letter-spacing: 2.7px;
  color: #1a72e6;
}

.__fotr{
  font-family: AvenirLTStd-Heavy;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 2.1px;
  color: #777777 !important;
}

.__fotr:hover{
  color: #333 !important;
}

.__nesbtn{
  background-color: #f0842d;
  color: #ffffff !important;
}

.__fod{
  padding: 0 70px;
}

.__fotcop{
  font-family: AvenirLTStd-Roman;
  font-size: 11px;
  letter-spacing: 1.5px;
  text-align: center;
  color: #777777;
}

.__fosocai{
  float: right;
}

.__fotsoh{
  font-size: 20px;
  color: #979797;
  padding: 10px
}


.__logbg{
  background-image: url(../img/sign.png);
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0; 
}

.__autl{
  text-align: center;
  padding: 27px;
}

.__autl img{
  width: 180px;
}

.__lfbd{
  margin:0 auto;
  width: 693px;
  padding: 0 0 43px;
  /*height: 474px;*/
  border-radius: 5px;
  box-shadow: 0 0 4px 3px rgba(245, 245, 245, 0.5);
  background-color: #ffffff;
  border: solid 1px #e4e4e4;
}

.__lfori{
  margin: 0 auto;
    width: 502px;
}

.__logi{
  font-family: AvenirLTStd-Heavy;
  letter-spacing: 0.7px;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0.7px;
  text-align: center;
  color: #3a559f;
}
.__lform{
  font-family: AvenirLTStd-Book;
  font-size: 14px;
  letter-spacing: 0.4px;
  color: #454545;
}

.__loin{
  height: 45px;
  border-radius: 3px;
  background-color: #f7fbff;
  /*border: solid 1px #1a72e6;*/
}

.__loin:focus {
    border:1px solid #1a72e6 !important;
}

.__lchek{
  font-family: AvenirLTStd-Book;
  letter-spacing: 0.4px;
  color: #595959;
}
.__lchek1{
  font-family: AvenirLTStd-Book;
  letter-spacing: 0.4px;
  color: #595959;
  float: right;
  margin-top: 10px;
}

.__lchek1:hover{
  text-decoration: underline;
  color: #1a72e6;
}

.__lfbtn{
  font-family: AvenirLTStd-Medium;
  width: 502px;
  height: 45px;
  border-radius: 3px;
  background-color: #f0842d;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #ffffff;
  transition: all 0.4s ease-in;
}

.__lfbtn:hover{
  background-color: #c76f28;
  color: #ffffff;
}

.__lgsoc{
  margin-top: 25%;
}

.__lsp{
  background-color: #ffffff;
  border: 1px solid #4a90e2;
  padding: 11px 4px;
  margin-right: -3px;
}
.__lsp1{
  font-family: AvenirLTStd-Medium;
  background-color: #4a90e2;
  padding: 10px 23px 11px;
  letter-spacing: 0.3px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.__lsp2{
  background-color: #3a559f;
  border: 1px solid #3a559f;
  padding: 12px 4px;
    margin-right: 0px;
}
.__lsp3{
  font-family: AvenirLTStd-Medium;
  border: 1px solid #3a559f;
  padding: 10px 14px 11px;
  letter-spacing: 0.3px;
  color: #3a559f;
  font-size: 16px;
  font-weight: 500;
}

.__lgsoc img{
  width: 30px;
}

.__show{
  float: right;
  margin-top: -36px;
  cursor: pointer;
}

.__logm{
  font-family: AvenirLTStd-Medium;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.4px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #1a72e6 !important;
}

.__useimg{
  text-align: center;
  margin-top: 5%;
}

.__uselog{
  font-family: AvenirLTStd-Medium;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
  color: #979797;
}

.__uselog span{
  color: #1a72e6;
}


.__usecon{
      padding: 25px 0;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 2px #3ba9c4;
  text-align: center;
}

.__usep{
  font-family: AvenirLTStd-Medium;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
  color: #6b6b6b;
  margin-top: 10px;
}

.__usebtn{
  font-family: AvenirLTStd-Black;
  width: 189px;
  height: 35px;
  border-radius: 3px;
  background-color: #f0842d;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff !important;
transition: all 0.4s ease-in;
}

.__usebtn:hover{
  background-color: #c76f28;
  color: #ffffff;
}

.__lagbtn {
  font-family: AvenirLTStd-Medium;
  width: 249px;
  height: 45px;
  border-radius: 3px;
  background-color: #f0842d;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #ffffff;
  transition: all 0.4s ease-in;
}

.__lagbtn:hover {
  background-color: #c76f28;
  color: #ffffff;
}

.__cardh{
  margin: 100px 36px 10px 111px;
    width: 851px;
}


.__pcard {
  width: 263px;
  height: 100px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #e9e9e9;
  border-bottom: 3px solid #f0842d;
  transition: all 0.25s ease;
}


.__pcard1 {
  width: 263px;
  height: 100px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #e9e9e9;
  border-bottom: 3px solid #3ba9c4;
  transition: all 0.25s ease;
}

.__pcard2 {
  width: 263px;
  height: 100px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #e9e9e9;
  border-bottom: 3px solid #50e3c2;
  transition: all 0.25s ease;
}

.__pcard:hover{
      transform: translateY(-4px) scale(1.02);
    box-shadow: 0px 14px 24px rgba(46, 104, 208, 0.1);
    z-index: 999;
}

.__pcard1:hover{
      transform: translateY(-4px) scale(1.02);
    box-shadow: 0px 14px 24px rgba(46, 104, 208, 0.1);
    z-index: 999;
}

.__pcard2:hover{
      transform: translateY(-4px) scale(1.02);
    box-shadow: 0px 14px 24px rgba(46, 104, 208, 0.1);
    z-index: 999;
}

.__pcardin{
  position: absolute;
    margin-left: 32px;
    margin-top: -20px;
  width: 97px;
  height: 67px;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(236, 236, 236, 0.5);
  background-color: #ffffff;
  border: solid 1px #dfdfdf;
  padding: 6px 20px;
}

.__pcardin img{
  width: 50px;
}

.__ptr{
  font-family: AvenirLTStd-Medium;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #c0c0c0;
  text-align: center;
  margin-top: 10px;
}

.__ptr1{
  font-family: AvenirLTStd-Medium;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: #757575;
  text-align: center;
  margin-top: 20px;
}

.__ptable{
  width: 848px;
  /*height: 465px;*/
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 3px 3px rgba(242, 242, 242, 0.5);
  padding: 30px;
  margin-top: 5%;
}

.__ttab{
  margin-top: 5%;
}

.__ptp{
  font-family: AvenirLTStd-Medium;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #3ba9c4;
}
.__ptt{
  font-family: AvenirLTStd-Medium;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #f0842d;
}

.__pta{
  font-family: AvenirLTStd-Medium;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #50e3c2;
}

.__ptp1{
  font-family: AvenirLTStd-Medium;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: right;
  color: #b5b5b5;
}




.points_table img{
  width: 30px;
  height: 30px;
  box-shadow: 0 0 2px 2px rgba(229, 229, 229, 0.5);
}

.points_table thead {
  width: 100%;
}

.points_table tbody {
  height: 500px;
  overflow-y: auto;
  width: 100%;
}

.points_table thead tr{
  width: 99%;
}

 .points_table tr{
  width: 100%;
 }

.points_table thead, .points_table tbody, .points_table tr, .points_table td, .points_table th{
  display: inline-block;
}

.points_table thead{
  background: transparent;
  color: #595959;
  border-bottom: 1px solid #595959;
}

.points_table tbody td, .points_table thead > tr> th{
  float: left;
  border-bottom-width: 0;
}

.points_table>tbody>tr>td, .points_table>tbody>tr>th, .points_table>tfoot>tr>td, .points_table>tfoot>tr>th, .points_table>thead>tr>td, .points_table>thead>tr>th{
  padding: 8px;
  /*height: 50px;*/
  /*text-align: center;*/
  /*line-height: 32px;*/
}

.odd {
  background: #ffffff;
  color: #000;
}

.even {
  background: #efefef;
  color: #000;
}

.points_table_scrollbar{
  height: 500px;
  overflow-y: scroll;
}

.points_table_scrollbar::-webkit-scrollbar-track{
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
  border-radius: 10px;*/
  /*background-color: #444444;*/
}

.points_table_scrollbar::-webkit-scrollbar{
  width: 2px;
  /*min-width: 5px;*/
  /*background-color: #333;*/
}

.points_table_scrollbar::-webkit-scrollbar-thumb{
  /*border-radius: 10px;*/
  background-color: #333;
  /*background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent)*/
}

.__msgpo::-webkit-scrollbar {
  width: 2px !important;
 }

 .__msgpo::-webkit-scrollbar-thumb {
    background: #333;
}


.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.__msgpoo{
  padding: 0;
 border: 1px solid #f7f7f7;
}
.__msgpo{
  overflow-y: scroll;
  overflow-x: hidden;
  height:495px;
}
.__msgpo::-webkit-scrollbar {
  width: 2px !important;
 }

 .__msgpo::-webkit-scrollbar-thumb {
    background: #333;
}
.__msgpo1{
  padding: 0;
  border: 1px solid #f7f7f7;
}

.__msgin{
  margin: 20px 0px 20px 28px;
    width: 1077px;
}

.__msgd{
  background-color: #f7f9fc;
  border-top: 1px solid #e1e6ed;
  border-bottom: 1px solid #e1e6ed;
  padding: 10px 20px;
}

.__msgd img{
 width: 38px;
  height: 40px;
  box-shadow: 0 4px 24px 0 rgba(2, 3, 26, 0.06);
}

.__msgdr{
  background-color: #ffffff;
  border-top: 1px solid #e1e6ed;
  border-bottom: 1px solid #e1e6ed;
  padding: 10px 20px;
}

.__msgdr img{
 width: 38px;
  height: 40px;
  box-shadow: 0 4px 24px 0 rgba(2, 3, 26, 0.06);
}

.__md7{
padding: 0; 
}
.__md7 p:nth-child(1){
font-family: AvenirLTStd-Roman;
font-size: 12px;
letter-spacing: 0.2px;
color: #25252b;
font-weight: 900;
}

.__md7 p:nth-child(2){
font-family: AvenirLTStd-Book;
font-size: 15px;
color: #25252b;
}
.__md7 p:nth-child(3){
font-family: AvenirLTStd-Medium;
font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  color: #25252b;
color: #25252b;
}
.__msgp{
  font-family: AvenirLTStd-Roman;
  font-size: 12px;
  letter-spacing: 0.2px;
  text-align: right;
  color: #686871;
}

.__msgd1{
  border-radius: 1px;
  background-color: #ffffff;
  border: solid 1px #e1e1e1;
  padding: 8px 0px 0;
}

.__msgd1 p:nth-child(1){
  font-family: AvenirLTStd-Black;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1.2px;
  text-align: center;
  color: #454545;
}







/*chat*/
.first-section:hover{
  cursor: pointer;
}

.chat-section ul li{
  list-style: none;
  margin-top:10px;
  position: relative;
}
.chat-section{
  overflow-y:scroll;
  height:350px;
}
.chat-section::-webkit-scrollbar {
  width: 2px !important;
 }
 .chat-section::-webkit-scrollbar-thumb {
    background: #333;
}
.chat-section ul{
  padding: 0px;
}
.left-chat img,.right-chat img{
  width:40px;
  height:40px;
  float:left;
  margin:0px 10px;
  border-radius: 50%;
}
.right-chat img{
  float:right;
}

.left-chat,.right-chat{
  overflow: hidden;
}
.left-chat p,.right-chat p{
  font-family: AvenirLTStd-Medium;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.75;
  background-color:#f2f2f2;
  padding: 10px;
  color:#676767;
  border-radius: 5px; 
  float:left;
  width:60%;
  margin-bottom:0px;
  margin-top: 12px;
  margin-left: 10px;
}
.left-chat .__span,.right-chat .__span{
  background: transparent !important;
  color: #686871;
  font-family: AvenirLTStd-Medium;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.3px;
}
.left-chat .__span{
  margin-left:52px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.right-chat .__span{
  margin-right:65px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.right-chat p{
  font-family: AvenirLTStd-Medium;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.75;
  float:right;
  background-color: #f0f7ff;
  color: #676767;
  margin-right: 10px;
}
.third-section{
  border-top: 1px solid #EEEEEE;
}
.text-bar{
  /*width: 590px;*/
  border-radius: 3px;
  /*margin-left:-15px;*/
  padding:10px 10px;
  border:1px solid #e1e1e1;
}
.text-bar button{
  font-family: AvenirLTStd-Medium;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  width: 114px;
  border-radius: 5px;
  background-color: #2a94d5;
  box-shadow: 0 2px 24px 0 rgba(72, 128, 255, 0.2);
  padding:10px 0px;
  }

.text-bar button:hover{
  color: #ffffff;
}
.left-chat:before{
  content: " ";
  position:absolute;
  top:12px;
  left:54px;
  bottom:150px;
  border:15px solid transparent;
  border-top-color:#f2f2f2; 
}
.right-chat:before{
  content: " ";
  position:absolute;
  top:12px;
  right:54px;
  bottom:150px;
  border:15px solid transparent;
  border-top-color:#f0f7ff; 
}
/*chat end*/



.__dasempl{
  margin: 45px 8px 9px 35px;
    width: 926px;
}

.__pa{
 margin: 45px 8px 9px 32px;
    width: 926px; 
}
.__addag{
 margin: 45px 8px 9px 32px;
    width: 926px; 
}

.__pfpa{
  padding: 10px 98px;
}

.__setp{
  border: 1px solid #e6e6e6;
    text-align: center;
    padding: 20px 40px;
}


.__pro1{
  font-family: AvenirLTStd-Heavy;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.44;
  color: #000000;
}

.__pro2{
  font-family: AvenirLTStd-Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44;
  color: #595959;
}


.__pfin{
  padding: 34px 85px;
  border: 1px solid #e6e6e6;
}

.__pbiz{
  border: 1px solid #e9e9e9;
    padding: 20px 0 8px;
    text-align: center;
    background: #fef6f6;
}


.__prof{
  font-family: AvenirLTStd-Medium;
    /*height: 230px;*/
    background-color: #f2f2f2;
    padding: 34px 85px;
  border: 1px solid #e6e6e6;
    /*overflow-y: scroll;
    overflow-x: hidden;*/
    /*font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #595959;*/
    margin-top: 5%;
    /*text-align: justify;*/
}

.__prof::-webkit-scrollbar {
    width: 2px;
    background: #333;
    border-radius: 11px;
    background-color: #d8d8d8;
}


#picture_preview{
  /*max-width: 100px;
  max-height: 100px;*/
  width: 140px;
  height: 140px;
  transition: all 1s ease-in;
}

.__picture{
  width: 195px;
  /*height: 195px;*/
  /*position: relative;*/
  cursor: pointer;
  text-align: center;
}

.__picture img{
  width: 100%;
  height: 100%;
  border: 1px solid #979797;
  transition: all 2s ease;
}
.__picture input {
    cursor: pointer;
    position: absolute;
    display: block;
    margin-top: -139px;
    left: 0px;
    opacity: 0;
    height: 139px;
    width: 100%;
}

.__picture .__pimg {
    position: absolute;
    margin-top: 94px;
    width: 32px;
    height: 32px;
    margin-left: -30px;
}





